@import 'https://fonts.googleapis.com/css?family=Roboto';

body.p2g {
    width: 100%;
    height: 100%;
    font-size: 12pt;
    color: #000000;
    font-family: 'Roboto', sans-serif;

    .gutter-right-0 {
        padding-right: 0;
        margin-right: 0;
    }

    .page-load {
        text-align: center;

        i {
            font-size: 50px;
        }

        span {
            font-size: 20px;
            display: block;
        }
    }

    #loading-bar-container {
        .bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.8);
            text-align: center;
            z-index: 10000;
            padding-top: 10%;

            i {
                color: #ffffff;
                font-size: 500%;
            }

            span {
                color: #ffffff;
                display: block;
                margin-top: 20px;
                font-size: 200%;
            }
        }
    }

    .navbar {
        background-color: #ffffff;
        border-color: #ffffff;

        .navbar-brand {
            color: #ffffff;

            img {
                height: 40px;
            }
        }
    }

    .ng-scope {
        &.ng-enter {
            /*-moz-animation: fadeIn 0.5s both ease-in;
            -o-animation: fadeIn 0.5s both ease-in;
            -webkit-animation: fadeIn 0.5s both ease-in;
            animation: fadeIn 0.5s both ease-in;
            z-index: 8888;*/
        }

        &.ng-leave {
            /*-moz-animation: fadeOut 0.1s both ease-in;
            -o-animation: fadeOut 0.1s both ease-in;
            -webkit-animation: fadeOut 0.1s both ease-in;
            animation: fadeOut 0.1s both ease-in;
            z-index: 9999;*/
        }
    }

    .jumbotron {
        background-color: #1c8ccd;
        color: #ffffff;
    }

    .btn {
        &.btn-default, &.btn-primary {
            background-color: #c63227;
            border-color: #c63227;
            color: #ffffff;
        }
    }

    .well {
        h3 {
            margin: 0 0 15px 0;
        }

        .parcel {
            margin: 10px 0;
        }
    }

    .result {
        height: 375px;

        > .row {
            border-bottom: solid 1px #ccc;
        }

        > .row:last-of-type {
            border-bottom: none;
        }

        .title {
            margin-bottom: 20px;
            padding-bottom: 20px;

            h1 {
                margin: 5px 0 0;
                font-size: 20px;
            }

            span {
                font-size: 12px;
            }

            img {
                width: 100%;
            }
        }

        .price {
            margin-bottom: 20px;
            padding-bottom: 20px;

            h2 {
                font-size: 14pt;
                margin: 0 0 10px;
            }

            h4 {
                font-size: 12pt;
                margin: 0;
            }

            h5 {
                font-size: 8pt;
                margin: 0;
            }
        }

        .icons {
            > div {
                padding: 0;
            }

            .quote-info-button {
                text-align: left;
                position: relative;
                padding-left: 50px;
                display: block;
                text-decoration: none;
                line-height: 12px;
                font-size: 12px;
                color: #444;
                padding-left: 50px;

                .quote-option-text {
                }

                > .fa, > .fa-stack {
                    width: 1.2857142857142858em;
                    line-height: 22px;
                    font-size: 20px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    margin-left: -40px;
                }
            }
        }
    }

    .sidebar {
        font-size: 80%;

        .title {
            display: block;
            border-bottom: solid 1px #6c6c6c;
            margin-bottom: 10px;
            padding-bottom: 10px;
            line-height: 35px;
            font-size: 160%;

            .logo {
                float: right;
                width: 60px;
            }
        }

        .time {
            display: block;
        }

        .service {
            .name {
                display: block;
                font-weight: bold;
                font-size: 140%;
            }

            .price {
                display: block;
                font-size: 130%;
                font-weight: bold;
            }
        }
    }

    #dropShopMapWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        #dropShopMap {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute !important;
            z-index: 10;
        }

        #dropShopMenu {
            position: absolute;
            top: 0;
            z-index: 11;
            opacity: 0.7;
            padding: 10px;
            left: 100px;

            &:hover {
                opacity: 1;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    margin-left: 10px;
                    opacity: 0.7;
                    cursor: pointer;

                    &.active {
                        opacity: 1;
                    }

                    img {
                        width: 50px;
                    }
                }
            }
        }

        #dropShopResults {
            position: absolute;
            top: 35px;
            z-index: 11;
            padding: 10px;
            right: 35px;
            width: 25%;
            background-color: rgba(0,0,0,0.5);
            color: #ffffff;
            border-radius: 30px;
            max-height: calc(100% - 70px);

            .result {
                .close {
                    font-weight: bold;
                    cursor: pointer;
                    float: right;
                    color: #ffffff;
                }

                a {
                    color: #ffffff;
                    text-decoration: underline;
                }

                .service-logo {
                    height: 55px;
                    width: 55px;
                    background-position: 50%;
                    background-size: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                h1 {
                    margin-bottom: 30px;
                }
            }


            .results {
                padding: 0;
                list-style: none;

                li {
                    width: 48%;
                    margin: 0 1% 10px;
                    float: left;
                    background-color: rgba(0,0,0,0.5);
                    padding: 10px;
                    height: 60px;
                    border-radius: 30px;

                    .service-logo {
                        height: 40px;
                        width: 40px;
                        background-position: 50%;
                        background-size: cover;
                        border-radius: 50%;
                        float: left;
                        margin-right: 10px;
                    }

                    span {
                        font-size: 80%;
                        display: block;
                        line-height: 14px;

                        &:first-of-type {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
