<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-default" type="button" ng-click="search()" ng-show="data.State.View == null || data.State.View == 'Edit'">Search</button>
                        <button class="btn btn-default" type="button" ng-click="edit()" ng-show="data.State.View == null || data.State.View == 'Search'">Edit</button>
                    </div>
                    <h3>{{header}}</h3>
                </div>
            </div>

            <div class="row" ng-show="data.State.AddressCollection">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label small">Select from a previous address</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" ng-options="item.Id as item.Label for item in data.State.AddressCollection" ng-model="data.State.SelectedAddress"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="data.State.HasAddress">
                <div class="col-md-12">
                    <h5><i class="fa fa-address-card" aria-hidden="true"></i> {{data.ContactName}}</h5>
                    <h5 class="small"><i class="fa fa-address-book" aria-hidden="true"></i> {{data.Property}} {{data.Street}} {{data.Postcode}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form class="form" name="frmAddress">

                        <div ng-show="data.State.View == null">
                            <label class="control-label">Name</label>
                            <input type="text" required class="form-control" ng-model="data.ContactName" name="name" />
                            <div class="text-danger" ng-show="frmAddress.name.$invalid">
                                <span ng-show="frmAddress.name.$error.required">Name is required.</span>
                            </div>

                            <label class="control-label">Email</label>
                            <input type="email" required class="form-control" ng-model="data.Email" name="email" />
                            <div class="text-danger" ng-show="frmAddress.email.$invalid">
                                <span ng-show="frmAddress.email.$error.required">Email is required.</span>
                                <span ng-show="frmAddress.email.$error.email">Invalid email address.</span>
                            </div>

                            <label class="control-label">Phone</label>
                            <input type="text" required class="form-control" ng-model="data.Phone" name="phone" />
                            <div class="text-danger" ng-show="frmAddress.phone.$invalid">
                                <span ng-show="frmAddress.phone.$error.required">Phone is required.</span>
                            </div>
                        </div>


                        <div ng-show="data.State.View == 'Search'">
                            <label class="control-label">Search</label>
                            <input googleplace class="form-control" data="data" />
                        </div>

                        <div ng-show="data.State.View == 'Edit'">
                            <label class="control-label">Organisation</label>
                            <input type="text" class="form-control" ng-model="data.Organisation" />

                            <label class="control-label">Property</label>
                            <input type="text" required class="form-control" ng-model="data.Property" name="property" />
                            <div class="text-danger" ng-show="frmAddress.property.$invalid">
                                <span ng-show="frmAddress.property.$error.required">Property is required.</span>
                            </div>

                            <label class="control-label">Street</label>
                            <input type="text" required class="form-control" ng-model="data.Street" name="street" />
                            <div class="text-danger" ng-show="frmAddress.street.$invalid">
                                <span ng-show="frmAddress.street.$error.required">Street is required.</span>
                            </div>

                            <label class="control-label">Town</label>
                            <input type="text" required class="form-control" ng-model="data.Town" name="town" />
                            <div class="text-danger" ng-show="frmAddress.town.$invalid">
                                <span ng-show="frmAddress.town.$error.required">Town is required.</span>
                            </div>

                            <label class="control-label">Locality</label>
                            <input type="text" class="form-control" ng-model="data.Locality" />

                            <label class="control-label">County</label>
                            <input type="text" required class="form-control" ng-model="data.County" name="county" />
                            <div class="text-danger" ng-show="frmAddress.county.$invalid">
                                <span ng-show="frmAddress.county.$error.required">County is required.</span>
                            </div>

                            <label class="control-label">Postcode</label>
                            <input type="text" required class="form-control" ng-model="data.Postcode" name="postcode" />
                            <div class="text-danger" ng-show="frmAddress.postcode.$invalid">
                                <span ng-show="frmAddress.postcode.$error.required">Postcode is required.</span>
                            </div>

                            <br />
                            <button class="btn btn-default" ng-click="done()" type="button">Save</button>
                        </div>
                        <div class="text-danger" ng-show="frmAddress.$invalid">
                            Please fill in all required fields
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>